name: prebuild-test-all

on:
  workflow_dispatch:

env:
  NODE_BUILD_CMD_LEGACY: npx --no-install prebuild -r node -t 20.0.0 -t 22.0.0 -t 24.0.0 --include-regex 'better_sqlite3.node$'
  ELECTRON_BUILD_CMD_LEGACY: npx --no-install prebuild -r electron -t 29.0.0 -t 30.0.0 -t 31.0.0 -t 32.0.0 -t 33.0.0 -t 34.0.0 -t 35.0.0 -t 36.0.0 -t 37.0.0 -t 38.0.0 --include-regex 'better_sqlite3.node$'
  ELECTRON_BUILD_CMD_MODERN: npx --no-install prebuild -r electron -t 39.0.0 --include-regex 'better_sqlite3.node$'

jobs:
  prebuild:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - macos-15-intel
          - windows-2022
    name: Prebuild on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - if: ${{ startsWith(matrix.os, 'windows') }}
        run: pip.exe install setuptools
      - if: ${{ startsWith(matrix.os, 'macos') }}
        run: brew install python-setuptools
      - run: npm install --ignore-scripts
      - run: ${{ env.NODE_BUILD_CMD_LEGACY }}
      - run: ${{ env.ELECTRON_BUILD_CMD_LEGACY }}
      - run: ${{ env.ELECTRON_BUILD_CMD_MODERN }}
      - if: matrix.os == 'windows-2022'
        run: |
          ${{ env.NODE_BUILD_CMD_LEGACY }} --arch ia32
          ${{ env.NODE_BUILD_CMD_LEGACY }} --arch arm64
          ${{ env.ELECTRON_BUILD_CMD_LEGACY }} --arch ia32
          ${{ env.ELECTRON_BUILD_CMD_LEGACY }} --arch arm64
          ${{ env.ELECTRON_BUILD_CMD_MODERN }} --arch ia32
          ${{ env.ELECTRON_BUILD_CMD_MODERN }} --arch arm64

  prebuild-linux:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
        image:
          - node:20-bullseye
          - node:20-bookworm
        include:
          - image: node:20-bullseye
            generation: legacy
          - image: node:20-bookworm
            generation: modern
          - os: ubuntu-latest
            arch: x64
          - os: ubuntu-24.04-arm
            arch: arm64
    name: Prebuild on Linux ${{ matrix.arch }} (${{ matrix.generation }})
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4
      - run: npm install --ignore-scripts
      - if: matrix.generation == 'legacy'
        run: |
          ${{ env.NODE_BUILD_CMD_LEGACY }}
          ${{ env.ELECTRON_BUILD_CMD_LEGACY }}
      - if: matrix.generation == 'modern'
        run: |
          ${{ env.ELECTRON_BUILD_CMD_MODERN }}

  prebuild-linux-armv7:
    strategy:
      fail-fast: false
      matrix:
        image:
          - node:20-bullseye
          - node:20-bookworm
        include:
          - image: node:20-bullseye
            generation: legacy
          - image: node:20-bookworm
            generation: modern
    name: Prebuild on Linux armv7 (${{ matrix.generation }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - if: matrix.generation == 'legacy'
        run: |
          docker run --rm -v $(pwd):/tmp/project --entrypoint /bin/sh --platform linux/arm/v7 ${{ matrix.image }} -c "\
          cd /tmp/project && \
          npm install --ignore-scripts && \
          ${{ env.NODE_BUILD_CMD_LEGACY }}"

  prebuild-alpine-linux:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
        include:
          - os: ubuntu-latest
            arch: x64
          - os: ubuntu-24.04-arm
            arch: arm64
    name: Prebuild on Alpine-Linux (${{ matrix.arch }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v $(pwd):/tmp/project --entrypoint /bin/sh node:20-alpine -c "\
          apk add build-base git python3 py3-setuptools --update-cache && \
          cd /tmp/project && \
          npm install --ignore-scripts && \
          ${{ env.NODE_BUILD_CMD_LEGACY }}"